[Unit]
Description=Television startup service
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=elffari
WorkingDirectory=/home/elffari/Television
ExecStart=/home/elffari/.local/bin/uv run python -m src.client

[Install]
WantedBy=multi-user.target
